*{
  margin: 0;
  padding: 0;
}

body{
font-family: 'Taviraj', serif;
background-image: url("Img/madera.jpg")
}

.clear{
  clear: both;
}

/* Menu*/
#head{
width: 100%;
height: 150px;
}

#verde{
width: 33%;
height: 150px;
background-color: green;
float: left;
}

#blanco{
width: 34%;
height: 150px;
background-color: white;
float: left;
}

#rojo{
width: 33%;
height:150px;
background-color: red;
float: left;
}

.menu{
width: 100%;
height: 60px;
background-color: #f5b5d3;
}

.menu ul{
  display: none;
}

input:checked  ~ ul{
  display:block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin-left: 30px;
  background: #fff;
  margin-top: 10px;
}

label :hover{
  background: #f4d03f;
}

input :checked ~ label{
  background: #f5b5d3;
}

.menu ul{
  margin-top: 0;
  padding: 0;
  width: 200px;
}

.menu ul li a{
  text-decoration:none;
  display: block;
  background: #fbd9ec;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #f5b5d3;
  color: black;
  position: relative;
  z-index: 1;
}

.menu ul li :hover{
  filter: brightness(110%);
}

#logo{
  height: 104px;
  width: 123px;
  background-image: url("Img/logo.png");
  background-size: 100%;
  margin: auto;
  margin-top: 25px;
}

.facebook{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  margin-top: 5px;
  margin-right: 25px;
  background-image: url("Img/facebook.png");
  background-size: 100%;
}

.instagram{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("Img/instagram.png");
  float: right;
  margin-top: 5px;
  margin-right: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tiktok{
  width: 50px;
  height: 50px;
  background-image: url("Img/tictoc.png");
  background-size: 100%;
  border-radius: 50%;
  float: right;
  margin-top: 5px;
  margin-right: 25px;
}

.youtube{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  margin-top: 5px;
  margin-right: 25px;
  background-image: url("Img/youtube.png");
  background-size:100%;
}

/*diseño*/

h1{
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 100px;
  text-align: center;
  clear: both;
}

.slider{
  width: 50%;
  margin: auto;
}

#contenedori{
  width: 48%;
  height: 600px;
  padding: 1%;
  margin: auto;
  margin-top: 20px;
}

#contenedor{
width: 60%;
height: 600px;
padding: 1%;
margin: auto;
position: relative;
}

#ingredientes{
  width: 42%;
  height: 400px;
  padding: 2%;
  margin: 2%;
  float: left;
  background-color: #f5b5d3;

}

.modulo{
  width: 42%;
  height: 400px;
  background-color:#f5b5d3;
  background-size: 100%;
  padding: 2%;
  margin: 2%;
  float: left;
}

.tabla{
  width: 42%;
  height: 400px;
  padding: 2%;
  margin: 2%;
  float: left;
}

table{
    width: 400px;
    margin: 0 auto;
    height: 400px;
    margin-top: -24px;
}

th h2{
  background-color: #f5b5d3;
  height: 50px;

}

td ul{
  background-color: #fbd9ec;
  height: 392px;
}

td ul li{
  margin-bottom: 20px;
  margin-left: 30px;
}

h2{
text-align: center;
font-size: 35px;
font-weight: 400px;
}

#intro{
  font-size: 30px;
  text-align: center;
}

.ing{
width: 100%;
height: 100%;
}

.imagen{
width: 100%;
height: 350px;
}

p{
  font-size: 20px;
  margin-top: 10px;
  font-weight: 200px;
}

.modulo li{
font-size: 20px;
margin-left: 50px;
border-spacing: 30px;
}

.boton{
  width: 100px;
  height: 100px;
  background-image:url("Img/Flecha.png");
  background-size: contain;
  position: fixed;
  right: 50px;
  top: 840px;
}

#pie{
  width: 100%;
  height: 100px;
  background-color: #f5b5d3;
  margin-top:20px;
  clear: both;
  opacity: 90%;
}

/*Imagenes Spaghettis*/
#ingec{
  background-image: url("Img/fr/j/ec/ingec.png");
  background-size: cover;
  background-position: bottom;
}

#su{
  background-image: url("Img/fr/j/ec/ollacontrllarines.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#sd{
  background-image: url("Img/fr/j/ec/escurrir.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#st{
  background-image: url("Img/fr/j/ec/ing.picados.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#sq{
  background-image: url("Img/fr/j/ec/sofrito.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#sc{
  background-image: url("Img/fr/j/ec/natacocinar.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#ss{
  background-image: url("Img/fr/j/ec/leche.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#sst{
  background-image: url("Img/fr/j/ec/especies.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#so{
  background-image: url("Img/fr/j/ec/introducciondetallarines.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#sn{
  background-image: url("Img/fr/j/ec/emplatado.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/*Imagenes Empanadillas*/
#inge{
  background-image: url("Img/fr/j/e/inge.png");
  background-size: cover;
  background-position: bottom;
}

#eu{
  background-image: url("Img/fr/j/e/igr.picados.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#ed{
  background-image: url("Img/fr/j/e/relleno.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#et{
  background-image: url("Img/fr/j/e/empanadillas.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#eq{
  background-image: url("Img/fr/j/e/doblez.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#ec{
  background-image: url("Img/fr/j/e/cierre.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#es{
  background-image: url("Img/fr/j/e/aceite.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#est{
  background-image: url("Img/fr/j/e/frito.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#eo{
  background-image: url("Img/fr/j/e/emplado.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/*Imagenes Paninis*/
#ingp{
  background-image: url("Img/fr/i/p/ingpan.png");
  background-size: cover;
  background-position: center;
}

#pu{
  background-image: url("Img/fr/i/p/pancortado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pd{
  background-image: url("Img/fr/i/p/pambtomaquet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pt{
  background-image: url("Img/fr/i/p/panformatge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pq{
  background-image: url("Img/fr/i/p/panformatgebacon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pc{
  background-image: url("Img/fr/i/p/paformatgebaconformatge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ps{
  background-image: url("Img/fr/i/p/horno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pst{
  background-image: url("Img/fr/i/p/enplatao.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Imagenes Soda de Gerd*/
#ingsg{
  background-image: url("Img/fr/i/sg/ingsoda.png");
  background-size: cover;
}

#sgu{
  background-image: url("Img/fr/i/sg/limpiar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sgd{
  background-image: url("Img/fr/i/sg/turmix.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#sgt{
  background-image: url("Img/fr/i/sg/colar.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#sgq{
  background-image: url("Img/fr/i/sg/mezcla.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#sgc{
  background-image: url("Img/fr/i/sg/soda.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#sgs{
  background-image: url("Img/fr/i/sg/acabado.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/*canelones*/
#ingc{
  background-image: url("Img/fr/a/c/ingredients.png");
  background-size: cover;
  background-position: center;
}

#cc{
  background-image: url("Img/fr/a/c/bullircanelons.png");
  background-size: cover;
  background-position: bottom;
}

#b{
  background-image: url("Img/fr/a/c/bechamel.png");
  background-size: 100%;
  background-position: bottom;
}

#sc{
  background-image: url("Img/fr/a/c/saltejat.png");
  background-position: center;
}

#cp{
  background-image: url("Img/fr/a/c/plenan.png");
  background-position: bottom;
  background-size: cover;
}

#mc{
  background-image: url("Img/fr/a/c/canelonsb.png");
  background-size: cover;
}

#hc{
  background-image: url("Img/fr/a/c/forn.png");
  background-size: 100%;
}

#cf{
  background-image: url("Img/fr/a/c/emplatat.png");
  background-size: 100%;
  background-position: center;
}

/*Imagenes Macarrons*/
#ingm{
  background-image: url("Img/fr/a/m/ingredients.png");
  background-size: cover;
  background-position: center;
}

#sm{
  background-image: url("Img/fr/a/m/sofregit.png");
  background-size: 100%;
  background-position: center;
}

#bm{
  background-image: url("Img/fr/a/m/bullirmacarrons.png");
  background-size: 100%;
  background-position: center;
}

#fu{
  background-image: url("Img/fr/a/m/fuente.png");
  background-size: 100%;
  background-position: center;
}

#fd{
  background-image: url("Img/fr/a/m/fuentedos.png");
  background-size: 100%;
}

#hm{
  background-image: url("Img/fr/a/m/horneado.png");
  background-size: cover;
}

#fm{
  background-image: url("Img/fr/a/m/final.png");
  background-size: 100%;
  background-position: center;
}

/*reponsive*/
@media screen and (max-width:450px){

  .menu ul li a{
    position: relative;
    z-index: 1;
    width: 85px;
  }

  h1{
    font-size: 35px;
  }

  #contenedori{
    width: 93%;
  }

  .modulo{
      width: 96%;
      height: 210px;
      margin-top: 10px;
    }

  table{
    width: 96%;
    height: 300px;
    margin: 2%;
  }
  .tabla{
    width:100%;
    height:300px;
    margin-bottom: 20px;
    margin-top: -5px;
    margin-left: -1px;
  }

  #ingredientes{
    width: 94%;
    height: 150px;
    margin: 3%;
  }

  .ing{
    width: 100%;
    height:100%;
  }

  .imagen{
    width: 94%;
    height: 150px;
    margin: 3%;
  }

tr td ul li{
  margin-bottom: 15px;
}

.celda ul li{
  font-size: 12px;
}

th h2{
  font-size: 15px;
  height: 25px;
}

td ul{
  height: 287px;
}

  p{
    font-size: 10px;
    margin: 3%;
  }

  label{
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 15px;
  }

  #verde{
    width: 33%;
    height: 150px;
    background-color: green;
    float: left;
  }

  #blanco{
    width: 34%;
    height: 150px;
    background-color: white;
    float: left;
  }

  #rojo{
    width: 33%;
    height: 150px;
    background-color: red;
    float: left;
  }

  #logo{
    width: 115px;
    height: 98px;
    margin-right: 3px;
    margin-top: 30px;
  }

  .menu{
    width: 100%;
    height: 60px;
    clear: both;
  }


  .youtube{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .instagram{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }

  .tiktok{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .facebook{
    width: 40px;
    heigh: 40px;
    margin-right: 10px;
    margin-left: -10px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
  }

  .slider{
  width: 95%;
  }

#dos{
  width: 100%;
}

iframe{
  width: 94%;
  height: 150px;
}

.boton{
  right: 2px;
  width: 60px;
  height: 60px;
  top: 900px;
}

}
  #pie{
    width: 100%;
    height: 60px;
  }
